* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.mg-bot-20 {
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.active {
    background-color: #C1B283;
    border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #050000;
    padding-top: 40px;
}

.nav-link a {
    color: #0e0000;
}

.logo {
    text-decoration: none;
    color: #383838;
    font-family: 'Merriweather', serif;
    font-size: 28px;
    text-shadow: 0px 2px 1.98px rgba(40, 40, 40, 0.41);
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    -webkit-transition: 0.3s;
    background-color: #C1B283;
    border-radius: 5px;
    transition: 0.3s ease;
}

menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(248, 255, 255);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #fff7b7;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 100px;
        text-align: center;
    }
}

h1 {
    padding-top: 120px;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    line-height: 1.4em;
    color: #383838;
    text-align: center;
}

.content p {
    font-size: 24px;
    margin-top: 15px;
    font-weight: 600;
    color: #c1b283;
    text-align: center;
}
/*ABOUT SECTION*/

section#about {
    padding-top: 50px;
    padding-left: 40px;
    background-color: #3c373e;
    /* background-color: #ffffff; */
    /* background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.82)),to(rgba(255, 239, 239, 0.82))), url('../img/shattered.png');
    background-image: linear-gradient(rgba(28,28,28,.82),rgba(28,28,28,.82)), url('../img/shattered.png'); */
    background-repeat: repeat;
}

.about-pic  {
    text-align: center;
}


.about-pic .about-img {
    max-width: 100%;
    border-radius: 100%;
    border:1px solid #C1B283;
}
.about-content{
    padding-left: 40px;
    padding-right: 40px;
}
@media only screen and (min-width: 992px) {
    section#about .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .about-pic {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    }

    .about-content {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.about-content h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #bcbcbc;
}

@media only screen and (min-width: 992px) {
    .about-content h2 {
        text-align: left;
        margin-top: 0;
    }
}

.about-content p {
    color: #bcbcbc;
}

.about-content span {
    color: #fff;
}


section#quote {
    padding: 30px 0;
    background-color: #383838;
    text-align: center;
}

section#quote h3 {
    color: #ded1c1;
    line-height: 1.5em;
    font-style: italic;
}

section#quote p {
    margin-top: 15px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: #b1b1b1;
    font-size: 18px;
    text-align: center;
    display: block;
}

@media only screen and (min-width: 576px) {
    section#quote p {
        text-align: right;
        display: block;
        margin-right: 20%;
    }
}

/*COPYRIGHT*/

section#copyright {
    background-color: #f5f5f5;
}

section#copyright .container {
    padding-top: 35px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section#copyright .social-icons {
    margin-top: 20px;
}

section#copyright .social-icons i {
    color: #383838;
    font-size: 32px;
    margin-left: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

section#copyright .social-icons i:hover {
    color: #C1B283;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media only screen and (min-width: 576px) {
    section#copyright .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    section#copyright .social-icons {
        margin-top: 0;
        /*        margin-left: auto;*/
    }
}

@media only screen and (max-width: 577px) {
    section#copyright .social-icons a:first-child {
        margin-left: -32px;
    }
}

section#education{
    padding-top: 40px;
    background-color: #3c373e;
    
}

section#education .containerW{
    padding-top: 40px;
    background-color: #3c373e;
    
}
